@{
    ViewData["Title"] = "Profile";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <h4>Account info:</h4>
    </div>
</body>
</html>