@using Microsoft.AspNetCore.Mvc.TagHelpers
@model FoodApp.Models.RegisterViewModel

@{
    ViewData["Title"] = "Register";
    var returnUrl = Context.Request.Query["ReturnUrl"];
}

<div class="login-form-wrapper">

    <div class="  form-container p-3">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <form asp-action="Register" method="post">
            @if (!string.IsNullOrEmpty(ViewBag.CustomError as string))
            {
                <div class="alert alert-danger text-center">
                    @ViewBag.CustomError
                </div>
            }
            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email: </label>
                <input type="email" class="form-control" asp-for="Email">
            </div>
            <div class="mb-3">
                <label asp-for="Password" class="form-label">Password: </label>
                <input type="password" class="form-control" placeholder="*****" asp-for="Password">
            </div>
            <div class="mb-3">
                <label asp-for="ConfirmPassword" class="form-label">Confirm password: </label>
                <input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="*****">
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="Register">
            </div>

        </form>
    </div>
</div>
