@{
    ViewData["Title"] = "Overzicht Voedselpakketten";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        @* TODO: Make and load an overview with all the available meals! *@
        <p>Hier komt een overzicht van alle beschikbare voedselpakketten.</p>
    </div>
</body>
</html>