@{
    ViewData["Title"] = "Avans Meals";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        @* TODO: Make an overview! *@
        <p></p>
    </div>
</body>
</html>