@{
    ViewData["Title"] = "Avans Meals";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        <h4>Welcome to the official Avans FoodApp!</h4>
        <h5>Reserve a mealpackage and help to reduce foodwaste at Avans.</h5>
    </div>
</body>
</html>