@{
    ViewData["Title"] = "Reserved MealPackages";
}

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<body>
    <div class="text-center">
        <h1>@ViewData["Title"]</h1>
        @* TODO: Make and load an overview of all the meals that are already reserved! *@
        <p>Show here an overview of all the reserved mealpackages.</p>
    </div>
</body>
</html>