html {
    font-size: 14px;
}

/* Navbar */
.navbar {
    background-color: #a3cca3bc !important;
}
/* Navbar Title */
.navbar-brand {
    font-size: 30px !important;
    color: #3c3f41 !important;
}

.nav-link {
    color: #3c3f41 !important;
    font-size: 24px !important
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #ecf3e2 !important;
    margin-bottom: 60px;
}

/* Footer styling */
.footer {
    background-color: #659765bc !important;
    color: #4a4949 !important;
    font-size: 16px !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    color: #3e3d3d !important;
}

.footer a:hover {
    color: #141514 !important;
}
