html {
    font-size: 14px;
}

/* Navbar */
.navbar {
    background-color: #a3cca3bc !important;
}
/* Navbar Title */
.navbar-brand {
    font-size: 30px !important;
    color: #3c3f41 !important;
}

.nav-link {
    color: #3c3f41 !important;
    font-size: 24px !important
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #ecf3e2 !important;
    margin-bottom: 60px;
}

/* Footer styling */
.footer {
    background-color: #659765bc !important;
    color: #4a4949 !important;
    font-size: 16px !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.footer a {
    color: #3e3d3d !important;
}

.footer a:hover {
    color: #141514 !important;
}

/* Table Styling */
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse; 
    border: 1px solid #ddd; 
}

table th {
    background-color: #008000;
    color: #fff;
    font-size: 20px;
    padding: 10px;
    text-align: left;
}

/* Stijl voor de tabelrijen */
table td {
    padding: 8px; 
    border-bottom: 1px solid #ddd;
    text-align: left; 
    padding-left: 10px;
}

table tr:nth-child(odd) {
    background-color: #f8ffee;
}

table tr:nth-child(even) {
    background-color: #e6eddd;
}

.btn-primary {
    background-color: #008000 !important;
    border-color: #171717
}

/* Alert voor no content (e.g. no reserved meals, so nothing to be shown) */
.alert {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #260c0c;
    font-size: 18px;
    background-color: #f7dad9;
    border-color: #f1bcbc;
}