html {
    font-size: 14px;
}

/* Navbar */
.navbar {
    background-color: #2e7d32 !important;
}

/* Navbar Title */
.navbar-brand {
    font-size: 30px !important;
    color: #fff !important;
}

.nav-link {
    color: #fff !important;
    font-size: 24px !important;
}

.navbar-nav.right {
    margin-right: 30px;
}

/* Body */
body {
    background-color: #f5f0e6 !important;
    margin-bottom: 60px;
}

/* Footer */
.footer {
    background-color: #2e7d32 !important;
    color: #fff !important;
    font-size: 16px !important;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    .footer a {
        color: #fff !important;
    }

        .footer a:hover {
            color: #e6e6e6 !important;
        }

/* Table Styling */
table {
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border: 1px solid #ddd;
}

    table th {
        background-color: #2e7d32;
        color: #fff;
        font-size: 20px;
        padding: 10px;
        text-align: left;
    }

    table td {
        padding: 8px;
        border-bottom: 1px solid #ddd;
        text-align: left;
        padding-left: 10px;
    }

    table tr:nth-child(odd) {
        background-color: #f8ffee;
    }

    table tr:nth-child(even) {
        background-color: #e6eddd;
    }

/* Details Overview Styling */
.content-container {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

dl {
    margin: 0;
    padding: 0;
    margin-bottom: 25px;
}

dt {
    margin: 0;
    padding: 5px 0;
    font-weight: bold;
    text-align: left;
}

.col-sm-3.products, .col-sm-9.products {
    border-top: solid 1px #ddd;
}

dd {
    margin: 0;
    padding: 5px 0;
    text-align: left;
}

/* Button Styling */
.btn-primary {
    background-color: #78bf78 !important;
    color: #000000;
    border-color: #171717;
}

    .btn-primary:hover {
        background-color: #2e7d32 !important;
        border-color: #171717;
    }

/* Alert Styling */
.alert {
    padding: 20px;
    margin-top: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #260c0c;
    font-size: 18px;
    background-color: #f7dad9;
    border-color: #f1bcbc;
}
